.destination{
    background-image: url(../../asetss/images/background-destination.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;

    &__image{
        width: 50%;
        h4{
            position: absolute;
            left: 185px;
            top: 213px;
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 34px;
            /* identical to box height */
            
            letter-spacing: 4.725px;
            text-transform: uppercase;
            
            color: #FFFFFF;

        }
        img{
            position: absolute;
            left: 165px;
            bottom: 70px;
            width: 385px;
            height: 385px;


        }
    }
    &__info{
       
        position: absolute;
        right: 200px;
        bottom: 70px;
        &__nav{
            width: 400px;
            ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 52px;
                li a{
                    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #D0D6F9;
transition: 0.2s;
                }
                li a:hover{
                    font-size: 18px;
                    color: bisque;
                }
            }

        }
        &__name{
            h2{
                font-style: normal;
                font-weight: 400;
                font-size: 100px;
                line-height: 115px;
                /* identical to box height */
                
                
                color: #FFFFFF;
            }
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                /* or 178% */
                
                
                color: #D0D6F9;
                padding-bottom: 83px;
                
            }

        }
        &__info{
display: flex;
gap: 80px;


            &__info1{
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    /* identical to box height */
                    
                    letter-spacing: 2.3625px;
                    text-transform: uppercase;
                    
                    color: #D0D6F9;
                }
                h4{
                    font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
                }

            }
            &__info2{
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    /* identical to box height */
                    
                    letter-spacing: 2.3625px;
                    text-transform: uppercase;
                    
                    color: #D0D6F9;
                }
                h4{
                    font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
                }

            }

        }

    }
}

